<div class="container-area">
    <div class="content">
        <header class="navbar navbar-expand-lg navbar-light bg-light  shadow-sm">
            <nav class="container-fluid">
                <a class="navbar-brand text-secondary-gradient" routerLink="/" [innerHTML]="appLables.title"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0" id="menuItems">
                        <ng-container *ngFor="let item of menuItems">
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link pb-2 text-primary-gradient" aria-current="page"
                                    [routerLink]='item.route' routerLinkActive="active" [innerHTML]="item.label"></a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </nav>
        </header>
        <div class=" px-4 py-5">
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="footer bd-footer footer px-4 py-5 bg-light">
        <app-footer></app-footer>
    </footer>
</div>