<h4 class="text-center" id="intro">Introduction</h4>
<div class="container-fluid px-4 mb-4" id="intro">
<!-- <div class="card shadow">
    <div class="card-body"> -->
          <div class="row">
              <div class="col d-flex align-items-center">
                  col
                  col
                  col
                  col
                  col
                  colcol
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcolcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcolcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  col
                  colcol
                  col
                  col
                  col
                  col
                  col
                  col
                  col
              </div>
              <div class="col-3 upper-circle">
                  <img src="/assets/images/intro1.png" class="inner-circle" alt="">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  gmail Whatsapp instagram youtube linkedin skype gitlab fb twitter
              </div>
          </div>
      <!-- </div>
    </div> -->
  </div>