<h4 class="text-center" id="intro">Introduction</h4>
<div class="container-fluid px-4 mb-4">
    <div class="row">
        <div class="col d-flex align-items-center">
            {{intro.description}}
        </div>
        <div class="col-3 upper-circle">
            <img src="{{intro.selfImage}}" class="inner-circle" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            gmail Whatsapp instagram youtube linkedin skype gitlab fb twitter
        </div>
    </div>
</div>