
a {
    color: #ffffff !important;
    text-decoration: unset !important;
}

.upper-circle{
    background: -webkit-linear-gradient(left top, crimson 0%, blue 100%);
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    padding: 5.5px;
}

.inner-circle {
    background: white;
    width: 290px;
    height: 290px;
    border-radius: 1000px;
}