
a {
    color: #ffffff !important;
    text-decoration: unset !important;
}

.upper-circle{
    background: -webkit-linear-gradient(left top, crimson 0%, blue 100%);
    width: 207px;
    height: 207px;
    border-radius: 700px;
    padding: 4px;
}

.inner-circle {
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 700px;
}